<html>
  <head>
    <title>Nouveau potin</title>
  </head>
    <body>
      <h1>Crée un potin :</h1>
      <p>Utilise le formulaire ci-dessous pour créer ton potin.</p>
      <form action='/gossips/new/' method= 'POST'>
        Saisi ici ton nom : <input type='text' name='gossip_author'/><br/>
        Balance ton potin : <input type='text' name='gossip_content'/><br/>
        <input type='submit'/>
        </form>
    </body>
</html>
