<html>
  <head>
    <title>Potin</title>
  </head>
  <body>
    <h1>page potin</h1>
    <p>Voici la page du potin n°<%= params["id"] %></p>
    <p>Son auteur : <%= gossip.author %><br/>
       Son contenu : <%= gossip.content %>
    </p>
  </body>
<html/>
